/* src/pages/SearchResults.css */
/* -------------------------------------------------
   PRODUCT IMAGE CONTAINER
   ------------------------------------------------- */
.product-image-container {
  flex-shrink: 0;               
  flex-basis: auto;            /* flex width image */
  max-width: 480px;             /* set max width */
  max-height: 480px;          /* set max height */
  border-radius: 8px;          /* rounding corners */
  overflow: hidden;            /* hide container excess */
  display: flex;               /* flex centering */
  justify-content: center;
  align-items: center;
  min-width: 40px; /* handle minimum size */
  min-height: 40px;
  position: relative; /* handle issues with pictures not showing up. */
}

/* -------------------------------------------------
   PRODUCT MAIN IMAGE 
   ------------------------------------------------- */
.product-main-image {
  width: 100%;
  height: 100%;
  object-fit: contain;         /* don’t stretch */
  border-radius: inherit;      /* rounded corners from container */
  display: block;              /* remove inline‑image whites pace */
  max-width: 100%;
  max-height: 100%;
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: crisp-edges;
}

